<h1> New game </h1>
<h2><%=@game.inspect %><h2>
<h2><%=@game.color1%>, <%=@game.color2%>, <%=@game.color3%>, <%=@game.color4 %></h2>
<h3><%= @correct_place %></h3>

<div class="table">
	<table>
		<tr id="round1">
			<td><%= "Round 1" %></td>
			<td><%= @game.color1 %></td>
			<td><%= @game.color2 %></td>
			<td><%= @game.color3 %></td>
			<td><%= @game.color4 %></td>
		</tr>
		<tr id="round2">
			<td><%= "Round 2" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round3">
			<td><%= "Round 3" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round4">
			<td><%= "Round 4" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round5">
			<td><%= "Round 5" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round6">
			<td><%= "Round 6" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round7">
			<td><%= "Round 7" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round8">
			<td><%= "Round 8" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round9">
			<td><%= "Round 9" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr id="round10">
			<td><%= "Round 10" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
